// <?php // Leave this line commented out

// This file is automatically parsed by the WordPress Docker image for any additional configuration you may need.
// TO ENABLE THIS FILE, RENAME IT TO WORDPRESS_CONFIG_EXTRA

define('WP_HOME', 'https://if-you-have-a-url-put-it-here');
define('WP_SITEURL', 'https://if-you-have-a-url-put-it-here');

// Turns on debugging features, but does not display errors on the frontend.
define('WP_DEBUG_DISPLAY', false);
define('WP_DEBUG_LOG', true);

/* Multisite // Currently disabled
define('WP_ALLOW_MULTISITE', true );
// Manually setup via Tools -> Network Setup
// Then uncomment the following
define( 'MULTISITE', true );
define( 'SUBDOMAIN_INSTALL', true );
define( 'DOMAIN_CURRENT_SITE', 'if-you-have-a-url-put-it-here' );
define( 'PATH_CURRENT_SITE', '/' );
define( 'SITE_ID_CURRENT_SITE', 1 );
define( 'BLOG_ID_CURRENT_SITE', 1 );


// */
